# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
MEGA downloads/
!myfiles/

# Logs and databases
*.txt
!requirements.txt
*.log
*.sqlite3
*.xlsx
*.csv
*.xls
*.Untracked

# IDE/editor files
.vscode/
.idea/
.DS_Store

# Environment variables

.env
